.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/bg_7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .hero-content{
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1.5px solid whitesmoke;
    color: whitesmoke;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 30px;
    animation: moveInBottom 1.5s ease-in;
    transition: ease-in 0.25s;
}
.hero-text {
    font-family: 'Dosis';
  font-size: 50px;
  animation: moveInBottom 1.5s ease-in;
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(5rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.discover{
    background-color: #f9f9ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 50px;
}

.discover-cards{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;

    border-color: bisque;

}
.card{
    /* border: 2px solid blue; */
    flex: 1;
    min-width: 30%;
    max-width: 30%;
    height: 28rem;
    border: 2px;
    border-radius: 14px;
}

.card .org-img{
    /* border: 2px solid brown; */
    height: 50%;
    background-image: url("../Images/Child3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
}
.card .org-img-2{
    /* border: 2px solid brown; */
    height: 50%;
    background-image: url("../Images/Orphans.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
}

.card .org-img-3{
    /* border: 2px solid brown; */
    height: 50%;
    background-image: url("../Images/RemoteSchool.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
}
.card .org-img-4{
    /* border: 2px solid brown; */
    height: 50%;
    background-image: url("../Images/OldageHomes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
}
.card .org-img-5{
    /* border: 2px solid brown; */
    height: 50%;
    background-image: url("../Images/Thirsty2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
}
.card .org-img-6{
    /* border: 2px solid brown; */
    height: 50%;
    background-image: url("../Images/Hunger.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
}
.card .org-title{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 22px;
}
.card .org-description{
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.card .card-btn{
    text-decoration: none;
    color: #f86f2d;
}
