/* CSS for the login modal form */
.modal2 {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  width: 450px;
  height: 0px;
}

.modal2-content {
  position: relative;
  background-color: #f9f9f9;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 400px;
  margin-left: 500px;
  margin-top: 400px;
}

.modal2-content form-login {
  margin-top: 20px;
}

.modal2-content .form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal2-content .form-login input[type="email"],
.modal2-content .form-login input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.modal2-content .form-login button[type="button"] {
  background-color: #ff7700e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal2-content .form-login button[type="button"]:hover {
  background-color: #ff6a00;
}

.modal2-content .close {
  position: absolute;
  top: 15px;
  right: 30px;
  color: #ff4000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -9px;
  margin-right: -10px;
  margin-bottom: 0px;
}

.modal2-content .close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
