.hero {
  /* border: 2px solid blue; */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Images/bg_7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero-content {
  padding: 20px;
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.hero-text {
  font-family: "Dosis";
  font-size: 50px;
  animation: moveInBottom 1.5s ease-in;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
:root {
  --section-rotate: 9vw;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #777;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.right {
  text-align: right !important;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}


.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f86f2d),
    to(#f86f2d)
  );
  background-image: linear-gradient(to right, #f86f2d, #f86f2d);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.heading-primary,
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(125, 213, 111, 0.85)),
    to(rgba(40, 180, 135, 0.85))
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
}

.heading-tertirary {
  font-size: 2.75rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
  z-index: 10;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #f86f2d;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--orange {
  background-color: #f86f2d;
  color: #fff;
}
.btn--orange::after {
  background-color: #f86f2d;
}

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #f86f2d;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btn-small:hover {
  background-color: #7dd56f;
}

.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

@media only screen and (max-width: 62.5em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header__logo img {
  height: 3.5rem;
}
@media only screen and (max-width: 62.5em) {
  .header__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.5rem;
  }
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .section-header {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%
    ); /* Modify clip-path for smaller screens */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: 480px) {
  /* Adjustments for very small screens */
  .heading-primary {
    font-size: 2rem; /* Further decrease font size for very small screens */
  }
}

/* Default styles for section-description */
.section-description {
  background-color: #fcfcfc;
  display: flex;
  flex-wrap: wrap; /* Add flex-wrap to wrap child elements */
}

/* Default styles for child elements of section-description */
.section-description > * {
  padding: 0 8vw;
  padding-top: 14vw;
  padding-bottom: calc(1vw + var(--section-rotate));
  flex: 0 0 50%;
  box-sizing: border-box; /* Add box-sizing to include padding in element width */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .section-description > * {
    padding: 0 4vw; /* Reduce padding for smaller screens */
    padding-top: 10vw; /* Adjust top padding for smaller screens */
    padding-bottom: calc(
      0.5vw + var(--section-rotate)
    ); /* Adjust bottom padding for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  /* Adjustments for very small screens */
  .section-description > * {
    flex: 1 100%; /* Make child elements occupy full width on very small screens */
    padding: 0 2vw; /* Further reduce padding for very small screens */
    padding-top: 8vw; /* Further adjust top padding for very small screens */
    padding-bottom: calc(
      0.25vw + var(--section-rotate)
    ); /* Further adjust bottom padding for very small screens */
  }
}

/* Default styles for description box */
.description-box .description {
  margin-right: 5rem;
}

.description-box .description__text {
  font-size: 1.7rem;
}

.description-box .description__text:not(:last-child) {
  margin-bottom: 2rem;
}

/* Default styles for overview box */
.overview-box {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.overview-box__group:not(:last-child) {
  margin-bottom: 7rem;
}

.overview-box__detail {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.overview-box__detail svg {
  margin-right: 1.25rem;
}

.overview-box__detail:not(:last-child) {
  margin-bottom: 2.25rem;
}

.overview-box__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #55c57a;
}

.overview-box__label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.overview-box__text {
  text-transform: capitalize;
}

.overview-box__img {
  border-radius: 50%;
  height: 3.5rem;
  margin-right: 1.25rem;
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}
.picture-box__img--1 {
  padding-top: 15%;
}
.picture-box__img--2 {
  padding-bottom: 15%;
}
.picture-box__img--3 {
  padding-bottom: 27%;
}

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background: linear-gradient(to right bottom, #f86f2d, #f86f2d);
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

/* Default styles for cta */
.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
}

/* Default styles for cta images */
.cta__img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 50%;
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}

.cta__img--logo {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right bottom, #f86f2d, #f86f2d); */
  opacity: .9;
  background: #f86f2d;
  z-index: 10;
  transform: translate(-35%, -50%);
}

.cta__img--logo img {
  width: 100%;
}

.cta__img--1 {
  transform: translate(-10%, -50%) scale(0.97);
  z-index: 9;
}

.cta__img--2 {
  transform: translate(15%, -50%) scale(0.94);
  z-index: 8;
}

/* Default styles for cta content */
.cta__content {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  align-items: center; /* Align content in the center */
  text-align: center; /* Center align text */
}

.cta__text {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 2rem; /* Add margin bottom for spacing */
}

.btn--orange {
  margin-top: 2rem; /* Adjust margin-top for button */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .section-cta {
    padding: 3rem 2rem; /* Adjust padding for smaller screens */
    padding-bottom: 8rem; /* Adjust bottom padding for smaller screens */
    padding-top: calc(
      10rem + var(--section-rotate)
    ); /* Adjust top padding for smaller screens */
  }

  .cta {
    padding: 6rem 3rem; /* Adjust padding for smaller screens */
  }

  .cta__img {
    display: none; /* Hide images on smaller screens */
  }

  .cta__content {
    grid-template-columns: auto; /* Change to single column layout for smaller screens */
    justify-content: center; /* Center align content for smaller screens */
    text-align: center; /* Center align text for smaller screens */
  }
}
