body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  padding: 2rem 0.5rem;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #f86f2d;
  color: white;
  width: 20%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  /* margin: 1rem; */
  border-radius: 2rem;
  position: fixed;
}

.logo {
  margin-top: -1.5rem;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 5rem;
  height: 100%;
  background-image: url("../Images/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.logo i {
  margin-right: 10px;
}

.menu {
  flex: 1;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.menu-item i {
  margin-right: 10px;
}

.menu-item:hover,
.menu-item.active {
  background-color: whitesmoke;
  color: #f86f2d;
}

.content {
  /* border: 2px solid red; */
  overflow-y: scroll;
  margin-left: 22%;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 98vh;
  padding: 0 2rem 2rem 1rem;
}

.topbar {
  left: 26%;
  right: 1rem;
  min-height: 60px;
  margin-bottom: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile i {
  margin-right: 5px;
}

.main-content {
  flex: 1;
  padding: 70px 2rem 2rem;
  margin: 1rem;
  /* margin-top: 70px; */
  overflow-y: auto;
  background-color: #fff;
  border-radius: 0.5rem;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.card {
    color: #f5faff;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
}
.card h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}

#donationsTotal{
    background: linear-gradient(to bottom right, #165ed1, #73a7f0);
    color: white;
}
#thankyous{
    background: linear-gradient(to bottom right, #b83a4f, #e08c9e);
    color: white;
}
#most-items{
    background: linear-gradient(to bottom right, #009966, #49d5a8);
}
#monthly{
    background: linear-gradient(to bottom right, #f96e27, #eea45d);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f8f9fa;
}
.charts{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
}
.graphChart-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: white;
  flex: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
.pieChart-container{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form input[type="file"],
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: #f86f2d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background-color: #e75a1b;
}

.thank-you-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.thank-you-form textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.thank-you-form button {
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #f86f2d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.thank-you-form button:hover {
  background-color: #e75a1b;
}

.hidden {
  display: none;
}
