/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 399px; /* Full width */
  margin-left: 500px;
  margin-top: 230px;
  
}

/* Modal Content */
.modal-content {
  
   /* 5% from the top, centered */
  padding: 10px;
  border: #ff4000;
  width: 400px;
 /* Could be more or less, depending on screen size */
  animation: fadeIn 0.4s;
}
.form {
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px -1px rgba(0.5,0.4,0.3,0.5);
  width: 400px;
  max-width: 100%;
  padding: 15px;
}

.signup {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
  margin-top: -10px;
}

.form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--input:focus {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}

.form--marketing {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.form--marketing > input {
  margin-right: 0.625em;
}

.form--marketing > label {
  color: rgb(42, 41, 41);
}

.checkbox, input[type="checkbox"] {
  accent-color: #f86f2d;
}

.form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color:#f86f2d;
  border: 1px dashed #f86f2d;
  cursor: pointer;
}

.form--submit:hover {
  color: #f86f2d;
  background-color: rgb(163, 57, 4);
  border: 1px dashed #f86f2d;
  cursor: pointer;
  transition: 0.5s;
}

/* The Close Button */
.close {
  color: #ff4000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -9px;
  margin-right: -350px;
  margin-bottom: 0px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}